# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variables
.env

# IDE configs
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
